{%extends 'core/base.html'%}
{%block content%}
<h1>My Profile</h1>
<a style="display:inline;"
	href="{%if user.isDoctor%}{% url 'core:update-doctor' user.pk %}{%else%}{% url 'core:update-patient' user.pk %}{%endif%}"
	class="btn btn-primary">Update Profile</a>
<a style="display:inline;" href="/edit-patients/" class="btn btn-primary">Manage Patients</a>
<a style="display:inline;" href="/delete/" class="btn btn-danger">Delete Your Profile</a>
<h2>Name : {{user.first_name}} {{user.last_name}}</h2>
<h2>Email : {{user.username}}</h2>
<h2>Specialization : {{user.specialization}}</h2>
{% if user.patients.all %}
<h2>Patients Treating :</h2>
<ul>
	{%for patient in user.patients.all%}
	<li>{{patient.first_name}} {{patient.last_name}}</li>
	{%endfor%}
</ul>
{%endif%}
{%endblock%}