{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img src="{%static '/core/images/logo.png'%}" alt="" height="60px"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/"><i class="fa fa-home"
							aria-hidden="true"></i>Home</a>
				</li>
				{%if user.is_authenticated%}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Hello, {{user.first_name}} {{user.last_name}}
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item"
								href="{%if user.isDoctor%}{% url 'core:update-doctor' user.pk %}{%else%}{% url 'core:update-patient' user.pk %}{%endif%}"><i
									class="fa fa-user" aria-hidden="true"></i>Update Profile</a></li>
						{%if user.isDoctor%}
						<li><a class="dropdown-item" href="/edit-patients/"><i class="fas fa-edit"></i>Add/Remove
								Patients</a></li>
						{%endif%}
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
				</li>
				{%else%}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-sign-in-alt"></i>Login
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="/login-patient/">Login As Patient</a></li>
						<li><a class="dropdown-item" href="/login-doctor/">Login As Doctor</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown" id="register-li">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-user-plus" aria-hidden="true"></i>Register
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="/register-patient/">Register As Patient</a></li>
						<li><a class="dropdown-item" href="/register-doctor/">Register As Doctor</a></li>
					</ul>
				</li>
				{%endif%}
			</ul>
		</div>
	</div>
</nav>