{% extends 'core/base.html' %}

{% block content %}
<style>
    .container {
        padding: 100px 100px 100px 100px;
        align-content: justify;
    }

    body {
        background: #007bff;
        background: linear-gradient(to right, #0062E6, #33AEFF);
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }

    input {
        width: 95%;
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 5px;
    }

    h2 {
        text-align: center;
    }

    /* label {
        color: white;
    } */
</style>
<<div class="container">
    <div class="row ">
        <div class="col d-flex justify-content-center">
            <div class="card border-0 shadow rounded-3 my-12">
                <div class="card-body p-4 p-sm-5" style="height: 1150px">
                    <h5 class="card-title text-center mb-5 fw-light fs-5"></h5>
                    <h2>{{title}}</h2>
                    <br>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        <!-- <input type="hidden" value="{% if title == 'Register As Patient' %}False{%else%}True{%endif%}" name="isDoctor"> -->
                        <div class="row">
                            <div class="col-md-6">
                                {%load static%}

                                <img src="{% static 'core/images/log.jpg' %}" width="95%" height="79%"
                                    style="border-radius: 5px;">

                            </div>

                            <div class="col-md-6">
                                {{ form.as_p }}


                                <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" style="width: 95%;"
                                        type="submit">Register
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock content %}