{%extends 'core/base.html'%}
{%block content%}
{%load static%}
<div class="container-fluid mx-auto px-lg-5 py-lg-5">
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col">
			<div class="card h-100">
				<img src="{% static 'ml_tools/images/heart.jpg' %}" class="card-img-top" alt="Heart Disease Image">
				<div class="card-body d-flex flex-column">
					<h5 class="card-title">Heart Disease Detection</h5>
					<p class="card-text">The Heart Disease dataset has been taken from Kaggle. This database contains 76
						attributes, but all published
						experiments refer to using a subset of 14 of them. It has a total number of 303 rows and 14
						columns among which 165 have
						a heart disease.</p>
					<a href="/ml_tools/heartdisease/" class="btn btn-primary align-bottom  mt-auto">Use Heart Disease
						Detector</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="{% static 'ml_tools/images/breastcancer.jpg' %}" class="card-img-top"
					alt="Breast Cancer Image">
				<div class="card-body d-flex flex-column">
					<h5 class="card-title">Breast Cancer Detection</h5>
					<p class="card-text">Breast cancer can occur in women and rarely in men. Symptoms of breast cancer
						include a lump in the breast, bloody
						discharge from the nipple and changes in the shape or texture of the nipple or breast. Its
						treatment depends on the
						stage of cancer. It may consist of chemotherapy, radiation, hormone therapy and surgery.</p>
					<a href="/ml_tools/breastcancer/" class="btn btn-primary mt-auto">Use Breast Cancer
						Detector</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to
						additional
						content.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to
						additional
						content. This content is a little bit longer.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}